* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.mt-4 {
  margin-top: 1.5rem !important;
}
.container {
  width: 600px;
  margin: 0 auto;
}

.accoHeading {
  background-color: #000;
  padding: 10px;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
}
.accoHeading.active{
  background-color: orange;
  /* animation: slideDown .5s ease-in-out forwards; */
}
.accoInfo {
  padding: 10px;
  border: 1px solid #000;
  border-top: 0;
  display: none;
}

.accoHeading.active + .accoInfo{
  display: block;
}













@keyframes slideDown {
  from {
    height: 0;
  }
  to {
    height: auto;
  }
}
