<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HTML Table</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
        integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="./assets/css/style.css">
    <style>
        /* inline css >> when we apply css inside HTML element using style attribute */
        /* internal css/ embbeded css >> when we apply css inside Head using style element */
    </style>
</head>

<body>
    <header class="header">
        <nav>

        </nav>
    </header>
    <div class="container">
        <!-- <i class="fab fa-apple"></i> -->
        <div class="box1 box">box1</div>
        <div class="box2 box">box2</div>
        <div class="box3 box">box3</div>

        <!--
             bydefalut position of each HTML element is Static 
        
        -->
    </div>
    <hr>
    <div class="container">
        <div class="box box4">box4</div>
        <div class="box box5">box5</div>
        <div class="box box6">box6</div>
        <div class="box box7">box7</div>
        <div class="box box8">box8</div>
        <div class="miniBox miniBox1"></div>
        <div class="goTop"></div>
    </div>
</body>

</html>