<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HTML Table</title>
    <link rel="stylesheet" href="./assets/css/style.css">
    <style>
        /* inline css >> when we apply css inside HTML element using style attribute */
        /* internal css/ embbeded css >> when we apply css inside Head using style element */
    </style>
</head>

<body>
    <div>
        Hello div
    </div>
    <div>
        Hello div
    </div>
    <span>
        Hello Span
    </span>
    <span>
        Hello Span
    </span>
    <div>
        Heading One
    </div>
    <p>
        &nbsp;&nbsp;&nbsp;&nbsp; Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorem, dolores, molestiae
        illo modi omnis ipsam architecto quia ducimus odio eveniet distinctio aliquid adipisci facere nulla! Tenetur
        eaque amet aperiam ipsum.
    </p>
    <hr>
    <div>
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Cras egestas eget ligula non porta. Pellentesque..
        </p>
    </div>
    <div>
        <img src="./assets/images/coffee.jpg" 
        alt="Image with a Coffee Mug" title="Image with a Coffee Mug">
    </div>

    <!-- block Element >>
                    1 It accupies width eqaul to it's parent
                    2 It always starts on new line
                    3 We can apply margin from all 4 directions  -->
    <!-- Inline Element >> 
                    1 It accupies width eqaul to it's content
                    2 It starts on same line 
                    3 we can apply margin form left and right only -->

</body>

</html>