<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HTML Table</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
        integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="./assets/css/style.css">
    <style>
        /* inline css >> when we apply css inside HTML element using style attribute */
        /* internal css/ embbeded css >> when we apply css inside Head using style element */
    </style>
</head>

<body>
    <div class="box box1">
        display : none >>  The tag is not visible and the space is allocated for that tag on page
        will not be accupied
        It will change/distrub the structure/design of the page
    </div>
    <div class="box box2">
        visibility : hidden >> The tag is not visible but the space is allocated for that tag on page
        still accupied
        It will not change/distrub the structure/design of the page
    </div>
</body>

</html>