<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sizing Elements</title>
    <link rel="stylesheet" href="./assets/css/style.css">
</head>

<body>
    <div class="box">
        Lorem ipsum dolor sit amet consectetur adipisicing elit.
         Ipsum, tenetur? Nam eaque laboriosam quibusdam. Itaque dignissimos, quis nulla et delectus repudiandae illum repellat excepturi soluta deleniti, cupiditate unde tempore architecto omnis quibusdam officiis! Doloremque adipisci, omnis cupiditate iste quia reprehenderit cum numquam quisquam quasi atque sit pariatur nobis cumque sapiente.
    </div>
    <!-- 
    <img src="./assets/images/coffee.jpg" alt="" class="coffee">
    <img src="./assets/images/coffee.jpg" alt="" > -->
</body>

</html>