<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sizing Elements</title>
    <link rel="stylesheet" href="./assets/css/style.css">
</head>

<body>
    <div class="box">
       
    </div>
    <p>
        box-sizing: content-box; >> It is bydefault >>
        It will include only content-box width/height
        as a HTML element width/height
    </p>

    <p>
        box-sizing: border-box; >> We have to apply it using * selector >>
        It will include content-box, padding and border width/height
        as a HTML element width/height
    </p>
    <!-- 
    <img src="./assets/images/coffee.jpg" alt="" class="coffee">
    <img src="./assets/images/coffee.jpg" alt="" > -->
</body>

</html>