<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HTML Table</title>
    <link rel="stylesheet" href="./assets/css/style.css">
    <style>
        /* inline css >> when we apply css inside HTML element using style attribute */
        /* internal css/ embbeded css >> when we apply css inside Head using style element */
    </style>
</head>

<body>
    <div class="container">

    </div>
</body>

</html>