<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .mydiv{
            border: 2px solid orange;
            font-size: 22px;
            padding: 10px;
            margin: 10px;
        }
    </style>
</head>
<body>
    
    <div class="mydiv">
        Some dumy content
    </div>
    <p>
        padding : space between border and content.
        margin : space accupied by html element outside it's border
        border : It seprates padding and margin
    </p>
</body>
</html>